
<div class='word'>
  <% if word.readings.present? %>
    <span class='readings'><%== word_readings_text(word) %></span>
  <% end %>

  <% if word.literals.present? %>
    <span class='literals'>【<%== word_literals_text(word) %>】</span>
  <% end %>

  <ul class='senses'>
    <% word.senses.each do |sense| %>
      <li>
        <%== markup_highlight(sense.texts.join('; ')) %>

        <span class='categories'>[<%== sense_categories_text(sense) %>]</span>
        <span class='extra-info'><%= sense_extras_text(sense) %></span>
      </li>
    <% end %>
  </ul>
</div>

