<!DOCTYPE html>
<html>
  <head>
    <title>Kotobyte</title>
    <meta name='author' content='Andree Surya'>
    <meta name='description' content="Kotobyte is a Japanese dictionary with vocabulary reminders.">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <%= csrf_meta_tags %>
    <%= favicon_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class='<%= controller.controller_name %>'>
    
    <header class='<%= controller.action_name %>'>
      <a id='home_link' href='<%= root_path %>'></a>

      <div class='toolbar'>
        <%= yield :toolbar %>
      </div>

      <a id='menu_link' href='javascript:' data-popup-id='popup-menu' data-popup-text='Howdy' data-popup-trigger='click'></a>
    </header>

    <main class='<%= controller.action_name %>'>
      <%= yield %>
    </main>

    <footer>
      &copy; Kotobyte 2016 &nbsp;|&nbsp; <%= link_to 'About', about_path %>
    </footer>
  </body>
</html>
